<h1>Listing All Users</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% if @users.any? %>
        <h3>Users (<%= @users.count %>)</h3>
        <ol class="orders">
          <%= render @users %>
        </ol>
        <%= will_paginate @users %>
      <% end %>
    </div>
  </div>
</div>
