<div class="row jumbotron center">
  <h1>Welcome to Conestoga Pizzeria</h1>

  <h2>
    Conestoga Pizzeria established in 2016. Our pizza is the best pizza in Canada.
  </h2>

  <%= link_to "ORDER NOW!", '#', class: "btn btn-lg btn-primary" %>
</div>
