<li id="order-<%= order.id %>">
  <span class="user"><%= link_to 'Show Order', order %></span>
  <span class="order_id">
    Order ID:<%= order.id %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(order.created_at) %> ago.
  </span>
</li>