<li id="order-<%= order.id %>">
  <span class="user"><%= link_to order.user.name, order.user %></span>
  <span class="order_id">
    Order:<%= order.id %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(order.created_at) %> ago.
  </span>
</li>