<footer class="footer">
  <small>
    The <a href="#">Conestoga Pizzeria Application</a>
    by Rui Geng</a>
  </small>
  <nav>
    <ul>
      <li>Student Name: Rui Geng</li>
      <li>Student Number: 7128218</li>
    </ul>
  </nav>
</footer>