<footer class="footer">
  <small>
    The Conestoga Pizzeria Application by Rui Geng
  </small>
  <nav>
    <ul>
      <li>Student Name: Rui Geng</li>
      <li>Student Number: 7128218</li>
    </ul>
  </nav>
</footer>